@page "/tranieeedit/{TraineeId:int}"
<h3>Traniee Edit</h3>



@if (!Saved)
{
    <EditForm Model="@CurTre" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

        <DataAnnotationsValidator></DataAnnotationsValidator>

        <ValidationSummary></ValidationSummary>

        <div class="form-group row">
            <label for="name" class="col-form-label">Traniee Name: </label>
            <InputText id="name" class="form-control" @bind-Value="@CurTre.TraineeName" placeholder="Enter your name"></InputText>
        </div>

        
        
        <div class="form-group row">
            <label for="birthdate" class="col-form-label">Birthdate: </label>
            <InputDate id="birthdate" class="form-control" @bind-Value="@CurTre.Birthdate" placeholder="Enter birthdate"></InputDate>

        </div>
       
        <div class="form-group row">
            <label for="email" class="col-form-label">Email: </label>
            <InputText id="email" class="form-control" @bind-Value="@CurTre.Email" placeholder="Enter email"></InputText>
           
        </div>

        <div class="form-group row">
            <label for="track" class="col-form-label">Track: </label>
            <InputSelect id="track" class="form-control" @bind-Value="@CurTre.TrackId">
                @foreach (var track in @MockContext.Tracks)
                {
                    <option value="@track.TrackId">@track.Name</option>
                }
            </InputSelect>
        </div>


        <div class="form-group row">
            <label for="phonenumber" class="col-form-label">Phone number: </label>
            <InputText id="phonenumber" class="form-control" @bind-Value="@CurTre.MobileNo" placeholder="Enter phone number"></InputText>
        </div>

        <div class="form-group row">
            <label for="gender" class="col-form-label">Gender: </label>
            <InputSelect id="gender" class="form-control" @bind-Value=@CurTre.Gender>
                <option value="@(Gender.Male)">Male</option>
                <option value="@(Gender.Female)">Female</option>
            </InputSelect>
        </div>

        <div class="form-group row">
            <label for="IsGraduated" class="col-form-label">IsGraduated: </label>
            <InputCheckbox @bind-Value="@CurTre.IsGraduated"></InputCheckbox>
        </div>


        <button type="submit" class="btn btn-primary">Save Traniee</button>

    </EditForm>
}
else
{
    <div class="alert-success">
        Traniee Saved Successfully......
    </div>
}



