@page "/tranieeoverview"
<h3>Traniee OverView</h3>

@if (MockContext.Treniees == null)
{
    <p> Loading Treniees Data......... </p>
}
else
{
    <table class="table">
        <tr>
            <th> Treniee ID </th>
            <th> Treniee Name </th>
            <th> Mobile Number </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>

        </tr>
        @foreach (var item in MockContext.Treniees)
        {
            <tr>
                <td> @item.TraineeId </td>
                <td> @item.TraineeName </td>
                <td> @item.MobileNo </td>
                <td> <a href="@($"tranieedetails/{item.TraineeId}")" class="btn btn-outline-primary"> Details </a> </td>
                <td> <a href="@($"tranieeedit/{item.TraineeId}")" class="btn btn-outline-success"> Edit </a> </td>
                <td> <a href="@($"delete/{item.TraineeId}")" class="btn btn-outline-danger"> Delete </a> </td>

            </tr>
        }
    </table>

    <a href="AddTraniee" class="btn btn-success">Create New Trainee</a>
}