@model IEnumerable<Day8.Model.Product>

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"


@{
    ViewData["Title"] = "Index";
}
<link href="~/css/min/allstyles.css" rel="stylesheet" />
<link href="~/css/min/allstyles.min.css" rel="stylesheet" />

<h1>Index</h1>
<p>ra7777obbbbbbbbbbbaaaaa</p>
<a href="/Product/Calc?x=6&y=9" class="btn btn-danger">Calculator Link</a>  <!--First Way-->
@Html.ActionLink("Calc","Calc","Product",new{x=6,y=9},new{@class="btn btn-danger"}) <!--Second Way-->
<a asp-action="Calc" asp-controller="Product" asp-route-x="6" asp-route-y="9">Calc by tag helper</a> <!--third Way-->

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
